/* GLOBALS */
:root {
  --surface-select: chartreuse;
  /* CALENDAR COLORS */
  --cal-purple: #913ccd;
  --cal-pink: #f15f74;
  --cal-orange: #f76d3c;
  --cal-yellow: #f7d842;
  --cal-green: #98cb4a;
  --cal-grey: #839098;
  --cal-blue: #5481e6;
  --cal-teal: #2ca8c2;
  --cal-red: #c23b22;
}

html,
body {
  margin: 0;
  padding: 0;
}

.flexRow {
  display: flex;
}

/* HEADER */
nav {
  align-items: center;
  justify-content: space-between;
  background-color: var(--cal-teal);
  padding: 0px 0.5rem;
}

nav > div {
  gap: 2%;
}

nav > div > form {
  display: flex;
  align-items: center;
}

/* BACKGROUND IMAGE */
.bgImage {
  /* TO OFFSET THE WHITE BORDER OF IMAGE'S BLUR: */
  background-color: black;
  position: relative;
  width: 100%;
}
.bgImage > img {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  object-fit: cover;
  object-position: 50% 0;
  mask-size: 100% 100%;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 2000px;
  filter: blur(6.5px);
}

/* HERO */
.heroHeadline {
  font-size: 4rem;
  text-align: center;
}

.hero {
  justify-content: center;
}
.hero > div {
  width: 30%;
  padding: 2rem;
}
.hero > aside {
  width: 40%;
  padding: 2rem;
}

/* CTA */
.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta {
  justify-content: center;
  gap: 2.5%;
}
.cta > section {
  width: 25%;
  position: relative;
}

.cta > section > label > input:checked + * {
  outline: 0;
  border-color: #2260ff;
  border-radius: 12px;
  position: relative;
}

.cta > section > label > input:checked + *::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(68, 213, 24, 0.656) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: brushReveal 0.5s ease-out forwards;
  z-index: -1;
}

@keyframes brushReveal {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.overlayText {
  width: fit-content;
  text-align: left;
  position: absolute;
  width: 100%;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cta > section:hover .overlayText {
  opacity: 1;
}
.ctaContainer > button {
  width: 80%;
}

/* BOOKING */
.calendarContainer {
  display: flex;
  justify-content: center;
  margin: 0 10%;
  margin-top: 1rem;
  background-color: var(--cal-blue);
  border-radius: 0 24px 0;
}

.calendarContainer > form {
  display: flex;
  flex-direction: column;
}

.calendarContainer > form * {
  margin: 0.5rem;
}

.calendarContainer > form * > * {
  width: 50%;
}
.calendarContainer > form > div {
  display: flex;
  justify-content: space-between;
}

.calendarContainer > form > div > label,
.calendarContainer > form > div > a,
.calendarContainer > form > div > small {
  width: 50%;
}

.calendarContainer > form > div > label,
.calendarContainer > form > div > a,
.calendarContainer > form > div > small,
.calendarContainer > form > div > input {
  font-size: 1.5rem;
}

#name,
#transferCode {
  border-radius: 8px;
  border: #113182;
}

#selectedDatesContainer,
#roomType {
  pointer-events: none;
  background: none;
  border: none;
}

/* MISC */
hr {
  border: none;
  width: 100%;
  height: 2px;
  margin: 20px auto;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 90%
  );
  border-radius: 1px;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.hideMe {
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  /* display: none; */
}
